name: Test

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  test:
    runs-on: macos-15
    steps:
      - name: Checkout 
        uses: actions/checkout@v2

      - name: Set Xcode 16.3
        run: |
          sudo xcode-select -switch /Applications/Xcode_16.3.app

      - name: Carthage Bootstrap
        run: carthage bootstrap --use-xcframeworks

      - name: iOS Tests
        run: |
          xcodebuild test \
            -project Experiment.xcodeproj \
            -scheme Experiment \
            -sdk iphonesimulator \
            -destination 'platform=iOS Simulator,name=iPhone 16,OS=18.5'

      - name: macOS Tests
        run: |
          xcodebuild \
            -project Experiment.xcodeproj \
            -scheme Experiment \
            -sdk macosx \
            -destination 'platform=macOS' \
            test

      - name: tvOS Tests
        run: |
          xcodebuild \
            -project Experiment.xcodeproj \
            -scheme Experiment \
            -sdk appletvsimulator \
            -destination 'platform=tvOS Simulator,name=Apple TV' \
            test

